<div [class.dark_mode]="mode === 'dark'" class="container">
  <section class="top-section"></section>
  <section class="middle-section"></section>
  <section class="main-section">
    <div class="todo-header">
      <h1>TODO</h1>
      <h1 (click)="swithModes()">
        <img
          style="height: 32px"
          *ngIf="mode === 'light'"
          src="assets/icon-moon.svg"
          alt=""
          class="todo_icon-img"
        />
        <img
          class="todo_icon-img"
          style="height: 32px"
          *ngIf="mode === 'dark'"
          src="assets/icon-sun.svg"
          alt=""
        />
      </h1>
    </div>
    <div class="create--todo-box">
      <span class="rounded-circle"></span>
      <input
        [(ngModel)]="todo"
        type="text"
        placeholder="Create a new todo"
        (keyup.enter)="addTodo()"
      />
    </div>
    <ul
      class="todo--list scroll"
      dndDropzone
      dndEffectAllowed="move"
      (dndDrop)="onDrop($event, tasks)"
    >
      <li dndPlaceholderRef class="dndPlaceholder"></li>
      <li
        *ngFor="let task of tasks; let rowIndex = index"
        class="todo-item"
        [dndType]="'task'"
        [dndDraggable]="task"
        dndEffectAllowed="move"
        (dndMoved)="onDragged(task, tasks, 'move', rowIndex)"
      >
        <div
          (click)="completeTask(rowIndex)"
          class="check_status"
          [ngClass]="{
            uncheck: task.status === 'active',
            check: task.status === 'complete'
          }"
        >
          <div>
            <img
              *ngIf="task.status === 'complete'"
              src="assets/icon-check.svg"
              alt=""
            />
          </div>
        </div>
        <p class="task">{{ task.task }}</p>

        <p class="todo_del">
          <img src="assets/icon-cross.svg" alt="" />
        </p>
      </li>
    </ul>
    <div class="todo--options">
      <p class="todo--options-left">5 items left</p>
      <div class="todo--options-statuses mobile">
        <p
          [class.todo--options-activeStatus]="currentStatus === 'all'"
          (click)="filterTasks('all')"
        >
          All
        </p>
        <p
          [class.todo--options-activeStatus]="currentStatus === 'active'"
          (click)="filterTasks('active')"
        >
          Active
        </p>
        <p
          [class.todo--options-activeStatus]="currentStatus === 'complete'"
          (click)="filterTasks('complete')"
        >
          Completed
        </p>
      </div>
      <p class="todo--options-clear" (click)="clearCompleted()">
        Clear Completed
      </p>
    </div>
    <div class="mobile_statuses">
      <p
        [class.todo--options-activeStatus]="currentStatus === 'all'"
        (click)="filterTasks('all')"
      >
        All
      </p>
      <p
        [class.todo--options-activeStatus]="currentStatus === 'active'"
        (click)="filterTasks('active')"
      >
        Active
      </p>
      <p
        [class.todo--options-activeStatus]="currentStatus === 'complete'"
        (click)="filterTasks('complete')"
      >
        Completed
      </p>
    </div>
    <p class="last-text">Drag and drop to reorder list</p>
  </section>
</div>
